/* img{
    font-size: 100px;
} */
body{
    /* background-image: url("https://cdn-icons-png.flaticon.com/512/433/433100.png"); */
    background-color: aquamarine;
    align-items: last baseline;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
 .cloud img{
    position: relative;
    left: 30px;
 }
 img{
      position: relative;
      left: 100px;
 }
